/.idea/
*.iml
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_Button.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_Button.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_Dialog.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_Dialog.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogActions.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogActions.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogContent.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogContent.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogContentText.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogContentText.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogTitle.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_DialogTitle.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_TextField.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_material_TextField.js.map
/frontend/.vite/deps_temp_a2ef3c24/@mui_x-data-grid.js
/frontend/.vite/deps_temp_a2ef3c24/@mui_x-data-grid.js.map
/frontend/.vite/deps_temp_a2ef3c24/axios.js
/frontend/.vite/deps_temp_a2ef3c24/axios.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-2N2E3OHZ.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-2N2E3OHZ.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-2YDMMSW5.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-2YDMMSW5.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-7SXY6IYR.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-7SXY6IYR.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-B3IJHS5D.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-B3IJHS5D.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-DJYYMIAF.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-DJYYMIAF.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-DZXRV6RW.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-DZXRV6RW.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-JHFNEZB2.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-JHFNEZB2.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-QG4M7WPP.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-QG4M7WPP.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-TKQQKV7I.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-TKQQKV7I.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-UXIASGQL.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-UXIASGQL.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-VJ5NTE4X.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-VJ5NTE4X.js.map
/frontend/.vite/deps_temp_a2ef3c24/chunk-ZAUFE7H7.js
/frontend/.vite/deps_temp_a2ef3c24/chunk-ZAUFE7H7.js.map
/frontend/.vite/deps_temp_a2ef3c24/package.json
/frontend/.vite/deps_temp_a2ef3c24/react.js
/frontend/.vite/deps_temp_a2ef3c24/react.js.map
/frontend/.vite/deps_temp_a2ef3c24/react-dom_client.js
/frontend/.vite/deps_temp_a2ef3c24/react-dom_client.js.map
/frontend/.vite/deps_temp_a2ef3c24/react-router-dom.js
/frontend/.vite/deps_temp_a2ef3c24/react-router-dom.js.map
/frontend/.vite/deps_temp_a2ef3c24/react_jsx-dev-runtime.js
/frontend/.vite/deps_temp_a2ef3c24/react_jsx-dev-runtime.js.map
