.main-Title {
    text-align: center;
}

.app {
    background-color: #009f3f; /* Green color in RGB: #009f3f */
    width: max-content;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
}