
.bracket-container {
    display: flex;
    flex-direction: row;

    gap: 100px;
    border: 2px solid red;
    min-width: 600px;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
}

.round h4 {
    margin: 0;

}

.round-matches {
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-around;
    gap: 100px;
}

.match input {
    width: 100px;
}

.winner-input {
    align-self: center;
}
